<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">

	<div>
		<el-date-picker
			v-model="value1"
			type="datetime"
			placeholder="选择日期时间">
		</el-date-picker>
	</div>
</div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/element-ui/lib/index.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      value1: '',

    }
  })
</script>
</body>
</html>